In [2]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len(flowers)
count2 = 0

while count1>0 :
    print(flowers[count2])
    count1 -= 1
    count2 += 1

Rose
Orchid
Tulip

In [3]:
for i in {'n1' : 'one', 'n2' : 'two'} : print(i)

n1
n2

In [5]:
iterable = [1, 2, 3, 4]
for i in (iterable):
    print(i**2)

1
4
9
16

In [7]:
n = int(input('enter a number between 1-10'))

for i in range(11):
    print('{}x{} = '.format(n, i), n*i)

5x0 =  0
5x1 =  5
5x2 =  10
5x3 =  15
5x4 =  20
5x5 =  25
5x6 =  30
5x7 =  35
5x8 =  40
5x9 =  45
5x10 =  50

In [15]:
number = int(input('Please enter a number: '))
num=0
while num<number:
    print(num**2)
    num +=1

0
1
4

In [22]:
family = {"baba": "fatih", "anne": "makbule", "kız1": "meryem", "kız2" : "melek"}
family

{'baba': 'fatih', 'anne': 'makbule', 'kız1': 'meryem', 'kız2': 'melek'}

In [23]:
list(family.items())

[('baba', 'fatih'), ('anne', 'makbule'), ('kız1', 'meryem'), ('kız2', 'melek')]

In [24]:
list(family.keys())

['baba', 'anne', 'kız1', 'kız2']

In [25]:
list(family.values())

['fatih', 'makbule', 'meryem', 'melek']

In [27]:
family["kız3"] = "asuman"
family

{'baba': 'fatih',
 'anne': 'makbule',
 'kız1': 'meryem',
 'kız2': 'melek',
 'kız3': 'asuman'}

In [33]:
del family["anne"], family["kız1"], family["kız2"], family["kız3"]
family

{'baba': 'fatih'}

In [34]:
school_records={
	'personal_info':
		{'kid':{'tom':{'class':'intermediate', 'age':10},
			'sue':{'class':'elemantary', 'age':8}
			},
		'teen':{'joseph':{'class':'college', 'age':19},
			'marry':{'class':'high school', 'age':16}
			},
		},
	'grades_info':
		{'kid':{'tom':{'math':88, 'speech':69},
			'sue':{'math':90, 'speech':81}
			},
		'teen':{'joseph':{'coding':80, 'math':89},
			'marry':{'coding':70, 'math':96}
			},
		}
}

In [35]:
print(school_records)

{'personal_info': {'kid': {'tom': {'class': 'intermediate', 'age': 10}, 'sue': {'class': 'elemantary', 'age': 8}}, 'teen': {'joseph': {'class': 'college', 'age': 19}, 'marry': {'class': 'high school', 'age': 16}}}, 'grades_info': {'kid': {'tom': {'math': 88, 'speech': 69}, 'sue': {'math': 90, 'speech': 81}}, 'teen': {'joseph': {'coding': 80, 'math': 89}, 'marry': {'coding': 70, 'math': 96}}}}

In [36]:
school_records['personal_info']

{'kid': {'tom': {'class': 'intermediate', 'age': 10},
  'sue': {'class': 'elemantary', 'age': 8}},
 'teen': {'joseph': {'class': 'college', 'age': 19},
  'marry': {'class': 'high school', 'age': 16}}}

In [37]:
len(school_records['personal_info'])

2

In [38]:
school_records['personal_info']["kid"]

{'tom': {'class': 'intermediate', 'age': 10},
 'sue': {'class': 'elemantary', 'age': 8}}

In [39]:
school_records['personal_info']["kid"]["tom"]

{'class': 'intermediate', 'age': 10}

In [40]:
school_records['personal_info']["kid"]["tom"]["age"]

10

In [54]:
favorite = {"friends" :{
    "friend1": {"first": "Emre", "last": "Parlak"},
    "friend2": {"first": "Hayri", "last":"Özdil"},
}, "family" : {"baba": "fatih", "anne": "makbule", "kız1": "meryem", "kız2" : "melek"}}
favorite

{'friends': {'friend1': {'first': 'Emre', 'last': 'Parlak'},
  'friend2': {'first': 'Hayri', 'last': 'Özdil'}},
 'family': {'baba': 'fatih',
  'anne': 'makbule',
  'kız1': 'meryem',
  'kız2': 'melek'}}

In [55]:
ilk_kumem = {1, 2, 1, 0, 1}
ilk_kumem

{0, 1, 2}

In [56]:
letter = "a b c d e f g h i j k l m n o p q r s t u v x w y z"
print(set(letter))

{'f', ' ', 'g', 'p', 'e', 'v', 'o', 'd', 'm', 'w', 'k', 'x', 'u', 'b', 'q', 'l', 'j', 'a', 'z', 'h', 'n', 'r', 'c', 's', 't', 'y', 'i'}

In [59]:
set_1 = {'red', 'blue', 'pink', 'red'}
colors = 'red', 'blue', 'pink', 'red'
set_2 = set(colors)
print(set_1)
print(set_2)

{'red', 'blue', 'pink'}
{'red', 'blue', 'pink'}

In [61]:
my_dict = {}
my_set = set(my_dict)
print(type(my_dict))
print(type(my_set))

<class 'dict'>
<class 'set'>

In [1]:
test = {1 , "1", 1.0}
len(test)

2

In [1]:
a = {1,2,3,4}
b={3,4}
print(a-b)

{1, 2}

In [1]:
a = {'carnation', 'orchid', 'rose', 'violet'} 
b = {'rose', 'orchid', 'rose', 'violet', 'carnation'}
a==b

True

In [4]:
sample_list = [{"section":5, "topic":2}, 'clarusway', [1, 4], 2020, 3.14, 1+618j, False, (10, 20)]
for i in (sample_list):
    print(f"The type of {i} is {type(i)}.")

The type of {'section': 5, 'topic': 2} is <class 'dict'>.
The type of clarusway is <class 'str'>.
The type of [1, 4] is <class 'list'>.
The type of 2020 is <class 'int'>.
The type of 3.14 is <class 'float'>.
The type of (1+618j) is <class 'complex'>.
The type of False is <class 'bool'>.
The type of (10, 20) is <class 'tuple'>.