In [1]:
import numpy as np

In [3]:
table = np.array([
    [1,3],
    [2,4]])
print(table.max(axis=1))

[3 4]

In [2]:
for i in range(11):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [3]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
tuple(range(11))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [5]:
set(range(11))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [6]:
print(*range(11))

0 1 2 3 4 5 6 7 8 9 10

In [8]:
names = ["Ahmed", "Aisha", "Adam", "Joseph", "Gabriel"]
for i in names:
    print("hello", i)

hello Ahmed
hello Aisha
hello Adam
hello Joseph
hello Gabriel

In [10]:
liste = []
for i in range(1,6):
    liste.append(i)
print(liste)

[1, 2, 3, 4, 5]

In [2]:
word = input("give me a word: ")
counter = 0
for i in word:
    counter +=1
    if counter<len(word):
        i = i+"-"
    print(i, end="")

c-l-a-r-u-s-w-a-y

In [4]:
number = int(input("gimme a number: "))
for i in range(0,11):
    print(i*number)

0
5
10
15
20
25
30
35
40
45
50

In [15]:

for i in range(0,10):
    print(i*f"{i}")

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [18]:
evens = []
odds=[]
for i in range(0,10):
    if i%2==0:
        evens.append(i)
    else:
        odds.append(i)

print(evens)
print(odds)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]