In [12]:
n = int(input("give me a number: "))
if n==2:
        print(n, "is a prime number")
elif n==0 :
    print(n, "is not a prime number")
else:
    for i in range(2,n):
        if n%i==0:
            print(n, "is not a prime number")
            break
        else:
            print(n, "is a prime number")
            break

2 is a prime number

In [8]:
int(0)

0

In [9]:
def my_func(a, b):
    print(a+b)
type(my_func(3,5))

8

NoneType

In [10]:
def my_func(a, b):
    return(a+b)
type(my_func(3,5))

int

In [11]:
liste = ()
print(all(liste))

True

In [15]:
lista = ["susan", "tom", False, 0, 22]
filtered = filter(None, lista)
print(*filtered)

susan tom 22

In [17]:
grocery = ["bread", "water", "olive"]
enum_grocery = enumerate(grocery)
print(type(enum_grocery))
print(list(enum_grocery))
enum_grocery = enumerate(grocery, 10)
print(list(enum_grocery))

<class 'enumerate'>
[(0, 'bread'), (1, 'water'), (2, 'olive')]
[(10, 'bread'), (11, 'water'), (12, 'olive')]

In [ ]:
Group Anagrams
Given a list of strings, group anagrams together.
Example:
Example Input:
 ["eat", "tea", "tan", "ate", "nat", "bat"]
Output:
[
  ["ate","eat","tea"],
  ["nat","tan"],
  ["bat"]
]
Note:
All inputs will be in lowercase.
The order of your output does not matter.

In [20]:
def hipotenus(a,b):
    print((a**2 + b**2)**0.5)

In [21]:
hipotenus(3, 4)

5.0

In [23]:
def motto():
    print("vıttırı zıttırı")

motto()

vıttırı zıttırı

In [24]:
def add(a,b):
    print(a+b)
add(1,2)

3

In [27]:
def calculator(a,b,işlem):
    if işlem=="+":
        print(a+b)
    elif işlem=="-":
        print(a-b)
    elif işlem=="*":
        print(a*b)
    elif işlem=="/":
        print(a/b)
    else:
        print("enter valid argument")

calculator(88,22,"/")

4.0

In [28]:
def listem():
    return[1,2,3,4,5]

In [31]:
print(listem())

[1, 2, 3, 4, 5]

In [32]:
for i in listem():
    print(i)

1
2
3
4
5

In [33]:
def calculator2(a,b,işlem):
    if işlem=="+":
        return(a+b)
    elif işlem=="-":
        return(a-b)
    elif işlem=="*":
        return(a*b)
    elif işlem=="/":
        return(a/b)
    else:
        return("enter valid argument")

print(calculator2(88,22,"/"))

4.0

In [37]:
def absolute_value(a):
    """This function returns the absolute value of the given number"""
    if a>=0:
        return a
    else:
        return -a
absolute_value(-5)

5

In [38]:
print(absolute_value.__doc__)

This function returns the absolute value of the given number

In [39]:
print(abs.__doc__)

Return the absolute value of the argument.

In [40]:
yeni_listem = [i**2 for i in range(6)]
yeni_listem

[0, 1, 4, 9, 16, 25]

In [43]:
generator = (i**2 for i in range(6))
print(*generator)

0 1 4 9 16 25